body {
  font-family: Arial;
  background: #f2f2f2;
  padding: 20px;
}

h1 {
  text-align: center;
}

#products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 15px;
}

.card {
  background: white;
  padding: 10px;
  border-radius: 8px;
}

.card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
